[user]
  name = Piotr Przetacznik
  email = piotr.przetacznik+git@gmail.com
[core]
  editor = "vim -"
  pager = "vim -c 'silent %sm/\\e.\\{-}m//g' \
    -c 'set ft=git' \
    -c 'setlocal buftype=nofile' \
    -c 'normal gg' -R -"
[diff]
  # tool = "gvimdiff -R -c 'set filetype=git nowrap' -"
[difftool]
  # prompt = true
  prompt = false
